.productCard{
  width: 100vw;
  max-width: 300px;
  border-radius: 10%;
  background-color: #e6e6e6;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  align-items:center;
    border: 2px solid #cccccc;
}
.productCard__img{
 margin: auto;
  align-items: center;
  width: 80%;
  height: 80%;
  display: block;
}
.productCard__depiction{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
max-height: 24px;
transition: max-height 0.5s, z-index 1s;
}
.productCard__depiction:hover{
white-space: normal;
max-height: 300px;
 transition: max-height 0.5s, z-index 0s;
}
.wrapperBtn{
  display: flex;
  flex-direction: row;
}
.productCard__Btn {
  margin: auto;
position: relative;
width: 120px;
height: 10px;
border-radius: 30px;
text-align: center;
text-transform: uppercase;
font-weight: 600;
top: 50%;
padding-top:10px;
padding-bottom: 20px;
color: white;
}
.add{
background-color: #438945;
}
.add:active{
background-color: #2a552c;
}
.productCard__headline{
  text-align: center;
  text-transform: uppercase;
}
