.filter{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans',Arial,sans-serif;
    display: grid;
    grid-template-columns: 1fr;
}
.filter__sort{
    margin-bottom: 10px;
}

span{
margin-right: 10px;
}