.productCard{
  margin: 0px;

}
.productList{
list-style-type: none;
display: grid;
padding: 0;
 grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
 margin-top: 2%;
}
.productList__item{
  margin-bottom: 5%;
 display: grid;
 align-self: center;
}
@media screen and (max-width: 650px){
.productList{
   grid-template-columns: 1fr;
   margin: 0px;
}
.productCard{
  margin-left: 10%;
 justify-self: center;
}
  }
